In [12]:
import pandas as pd
# csv_df = pd.read_csv('E:\_Datasets\City_Court_Citations\City_Court_Citations.csv')
# csv_df = pd.read_csv('E:\_Datasets\Small_Business_Administration_Loans\Small_Business_Administration_Loans.csv')
# csv_df = pd.read_csv('E:\_Datasets\CDOT_Vehicle_Detection\CDOT_Vehicle_Detection.csv', nrows=100000)
# csv_df = pd.read_csv('E:\_Datasets\Hamilton_County_Property_Appraisal_Information\Hamilton_County_Property_Appraisal_Information.csv', nrows=10000)
csv_df = pd.read_csv('E:\_Datasets\Hamilton_County_E911_Active_Calls\Hamilton_County_E911_Active_Calls.csv')

In [14]:
csv_df.describe()

            latitude      longitude
count  266304.000000  266304.000000
mean       35.066573     -85.229899
std         0.068690       0.079465
min        34.979092     -85.469442
25%        35.019221     -85.290263
50%        35.045300     -85.245974
75%        35.095699     -85.174599
max        35.444383     -84.946401

In [13]:
# csv_df.to_csv('E:\_Datasets\CDOT_Vehicle_Detection\CDOT_Vehicle_Detection_sample.csv', sep='|', index=False)
csv_df.to_csv('E:\_Datasets\Hamilton_County_E911_Active_Calls\Hamilton_County_E911_Active_Calls_piped.csv', sep='|', index=False)

In [11]:
csv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   entry_id       100 non-null    object
 1   created        100 non-null    object
 2   agency         100 non-null    object
 3   incident_type  100 non-null    object
 4   address        100 non-null    object
 5   latitude       100 non-null    float64
 6   longitude      100 non-null    float64
 7   location       100 non-null    object
dtypes: float64(2), object(6)
memory usage: 6.4+ KB

In [12]:
csv_df.describe()

       Direction Value  Begin Time 24 Hour  End Time 24 Hour
count    100000.000000       100000.000000     100000.000000
mean         67.455010           11.419977         11.432377
std         152.468886            7.039836          7.024672
min           0.000000            0.000000          0.000000
25%           0.000000            5.000000          5.000000
50%          13.000000           11.250000         11.250000
75%          73.000000           17.500000         17.500000
max        2236.000000           23.750000         23.750000

In [11]:
csv_df['ApprovalDate'] = pd.to_datetime(csv_df['ApprovalDate'])
csv_df['FirstDisbursementDate'] = pd.to_datetime(csv_df['FirstDisbursementDate'])
csv_df['ChargeOffDate'] = pd.to_datetime(csv_df['ChargeOffDate'])

In [12]:
csv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 771 entries, 0 to 770
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   AsOfDate                  771 non-null    int64
 1   Program                   771 non-null    object
 2   BorrName                  771 non-null    object
 3   BorrStreet                771 non-null    object
 4   BorrCity                  771 non-null    object
 5   BorrState                 771 non-null    object
 6   BorrZip                   771 non-null    int64
 7   BankName                  687 non-null    object
 8   BankStreet                687 non-null    object
 9   BankCity                  687 non-null    object
 10  BankState                 687 non-null    object
 11  BankZip                   687 non-null    float64
 12  GrossApproval             771 non-null    int64
 13  SBAGuaranteedApproval     687 non-null    float64
 14  ApprovalDate              771 non-null    datetime64[ns]
 15  ApprovalFiscalYear        771 non-null    int64
 16  FirstDisbursementDate     708 non-null    datetime64[ns]
 17  DeliveryMethod            687 non-null    object
 18  subpgmdesc                687 non-null    object
 19  InitialInterestRate       309 non-null    float64
 20  TermInMonths              771 non-null    int64
 21  NaicsCode                 763 non-null    float64
 22  NaicsDescription          763 non-null    object
 23  FranchiseCode             109 non-null    object
 24  FranchiseName             109 non-null    object
 25  ProjectCounty             687 non-null    object
 26  ProjectState              687 non-null    object
 27  SBADistrictOffice         687 non-null    object
 28  CongressionalDistrict     686 non-null    float64
 29  BusinessType              771 non-null    object
 30  LoanStatus                771 non-null    object
 31  ChargeOffDate             127 non-null    datetime64[ns]
 32  GrossChargeOffAmount      771 non-null    int64
 33  RevolverStatus            687 non-null    float64
 34  JobsSupported             771 non-null    int64
 35  New Georeferenced Column  723 non-null    object
dtypes: datetime64[ns](3), float64(6), int64(7), object(20)
memory usage: 217.0+ KB

In [13]:
csv_df.describe()

,AsOfDate,BorrZip,BankZip,GrossApproval,SBAGuaranteedApproval,ApprovalFiscalYear,InitialInterestRate,TermInMonths,NaicsCode,CongressionalDistrict,GrossChargeOffAmount,RevolverStatus,JobsSupported
count,771.0,771.000000,687.000000,7.710000e+02,6.870000e+02,771.000000,309.000000,771.000000,763.000000,686.000000,771.000000,687.000000,771.000000
mean,20181231.0,37517.988327,46051.279476,4.136521e+05,2.962514e+05,2008.866407,6.183511,133.083009,548072.112713,3.018950,21480.106355,0.138282,10.789883
std,0.0,2626.933052,24555.603490,6.832614e+05,5.183538e+05,5.191807,1.219567,80.164366,165882.082889,0.379692,96574.163299,0.345448,18.099722
min,20181231.0,27415.000000,2818.000000,5.000000e+03,2.500000e+03,2000.000000,2.070000,1.000000,233210.000000,1.000000,0.000000,0.000000,0.000000
25%,20181231.0,37403.000000,30303.000000,4.500000e+04,2.125000e+04,2005.000000,5.500000,84.000000,444220.000000,3.000000,0.000000,0.000000,2.000000
50%,20181231.0,37408.000000,37402.000000,1.500000e+05,1.162500e+05,2008.000000,6.000000,120.000000,541519.000000,3.000000,0.000000,0.000000,5.000000
75%,20181231.0,37421.000000,56301.000000,4.771000e+05,3.195375e+05,2014.000000,7.000000,180.000000,721110.000000,3.000000,0.000000,0.000000,12.000000
max,20181231.0,99999.000000,97470.000000,5.000000e+06,3.750000e+06,2019.000000,10.500000,312.000000,812990.000000,12.000000,997602.000000,1.000000,225.000000