In [1]:
import pandas as pd
csvdf = pd.read_csv('E:\_Datasets\Hamilton_County_Property_Appraisal_Information\Hamilton_County_Property_Appraisal_Information.csv')

C:\Users\TJC\AppData\Local\Temp\ipykernel_51628\2635147430.py:2: DtypeWarning: Columns (3,5,8,17,71) have mixed types. Specify dtype option on import or set low_memory=False.
  csvdf = pd.read_csv('E:\_Datasets\Hamilton_County_Property_Appraisal_Information\Hamilton_County_Property_Appraisal_Information.csv')

In [2]:
csvdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156913 entries, 0 to 156912
Data columns (total 78 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   GISLink           156899 non-null  object
 1   OwnerName1        156913 non-null  object
 2   OwnerName2        24849 non-null   object
 3   OwnerName3        42 non-null      object
 4   PropStNum         146587 non-null  float64
 5   PropDirPfx        12 non-null      object
 6   PropStName        156896 non-null  object
 7   PropSfx           155823 non-null  object
 8   PropAddrUnit      1159 non-null    object
 9   Map               156913 non-null  object
 10  Group             137409 non-null  object
 11  Parcel            156913 non-null  object
 12  TaxMapNumber      156913 non-null  object
 13  MailStNum         0 non-null       float64
 14  MailStDirPfx      0 non-null       float64
 15  MailStName        156905 non-null  object
 16  MailTypeSfx       0 non-null       float64
 17  MailUnit          11 non-null      object
 18  MailAddrLine2     981 non-null     object
 19  MailCity          156911 non-null  object
 20  MailState         156892 non-null  object
 21  MailZip           156902 non-null  object
 22  LegalDesc         156911 non-null  object
 23  LotDim1           0 non-null       float64
 24  LotDim2           0 non-null       float64
 25  CalcAcres         156176 non-null  float64
 26  MapAcres          0 non-null       float64
 27  DeedAcres         0 non-null       float64
 28  LUCode            156912 non-null  float64
 29  NeighborhoodCode  156577 non-null  object
 30  LandValue         155248 non-null  float64
 31  BuildingValue     130415 non-null  float64
 32  AppraisedValue    155671 non-null  float64
 33  AssessedValue     150605 non-null  float64
 34  District          156913 non-null  object
 35  ControlMap        0 non-null       float64
 36  Zoning            96350 non-null   object
 37  PropType          156913 non-null  int64
 38  ExemptCode        5168 non-null    object
 39  Plat1Book         117125 non-null  object
 40  Plat1Page         117040 non-null  object
 41  Plat1PG           0 non-null       float64
 42  Plat1Lot          113961 non-null  object
 43  Plat2Book         0 non-null       float64
 44  Plat2PG           0 non-null       float64
 45  Plat2Lot          0 non-null       float64
 46  Sale1Year         156913 non-null  int64
 47  Sale1Month        156913 non-null  int64
 48  Sale1Day          156913 non-null  int64
 49  Sale1Book         156423 non-null  object
 50  Sale1Page         156422 non-null  object
 51  Sale1Type         88221 non-null   object
 52  Sale1Conf         52993 non-null   object
 53  Sale2Year         156913 non-null  int64
 54  Sale2Month        156913 non-null  int64
 55  Sale2Day          156913 non-null  int64
 56  Sale2Book         145541 non-null  object
 57  Sale2Page         145540 non-null  object
 58  Sale2Type         112705 non-null  object
 59  Sale2Conf         76608 non-null   object
 60  Sale3Year         156913 non-null  int64
 61  Sale3Month        156913 non-null  int64
 62  Sale3Day          156913 non-null  int64
 63  Sale3Book         123166 non-null  object
 64  Sale3Page         123165 non-null  object
 65  Sale3Type         106075 non-null  object
 66  Sale3Conf         77318 non-null   object
 67  Sale4Year         156913 non-null  int64
 68  Sale4Month        156913 non-null  int64
 69  Sale4Day          156913 non-null  int64
 70  Sale4Book         96480 non-null   object
 71  Sale4Page         96479 non-null   object
 72  Sale4Type         87539 non-null   object
 73  Sale4Conf         66515 non-null   object
 74  Subdivision       99585 non-null   object
 75  SortDist          0 non-null       float64
 76  ReferenceNum      156913 non-null  int64
 77  CurrentUse        156913 non-null  object
dtypes: float64(20), int64(14), object(44)
memory usage: 93.4+ MB

In [3]:
csvdf.describe()

,PropStNum,MailStNum,MailStDirPfx,MailTypeSfx,LotDim1,LotDim2,CalcAcres,MapAcres,DeedAcres,LUCode,...,Sale2Month,Sale2Day,Sale3Year,Sale3Month,Sale3Day,Sale4Year,Sale4Month,Sale4Day,SortDist,ReferenceNum
count,146587.000000,0.0,0.0,0.0,0.0,0.0,156176.000000,0.0,0.0,156912.000000,...,156913.000000,156913.000000,156913.000000,156913.000000,156913.000000,156913.000000,156913.000000,156913.000000,0.0,156913.000000
mean,4052.525879,NaN,NaN,NaN,NaN,NaN,4.240765,NaN,NaN,260.325405,...,5.738868,14.239783,1973.662233,4.901270,11.702593,1955.535883,3.987369,9.004512,NaN,78455.550630
std,3388.082987,NaN,NaN,NaN,NaN,NaN,275.724791,NaN,NaN,294.518113,...,3.620037,10.094607,41.876073,3.753151,10.430137,46.393360,3.680628,10.116635,NaN,45297.515669
min,0.000000,NaN,NaN,NaN,NaN,NaN,0.010000,NaN,NaN,11.000000,...,1.000000,1.000000,196.000000,1.000000,1.000000,190.000000,0.000000,1.000000,NaN,1.000000
25%,1118.000000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,111.000000,...,2.000000,4.000000,1961.000000,1.000000,1.000000,1900.000000,1.000000,1.000000,NaN,39226.000000
50%,3205.000000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,111.000000,...,6.000000,14.000000,1991.000000,4.000000,10.000000,1977.000000,2.000000,1.000000,NaN,78456.000000
75%,6685.000000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,116.000000,...,9.000000,23.000000,2004.000000,8.000000,21.000000,1997.000000,7.000000,17.000000,NaN,117684.000000
max,17265.000000,NaN,NaN,NaN,NaN,NaN,74052.000000,NaN,NaN,960.000000,...,71.000000,51.000000,2019.000000,90.000000,51.000000,2019.000000,80.000000,90.000000,NaN,156913.000000